
// botones eliminar
$color-rojo: rgb(255, 104, 104);
$color-rojo-oscuro: rgb(248, 70, 70);

// botón añadir

$color-marron: #504b46;
$color-marron-oscuro:#2c2926;

// botón comprar
$color-verde: rgb(86, 143, 105);
$color-verde-oscuro: rgb(58, 99, 72);

// bordes / titulos / fondos
$color-borde-li: rgb(181, 207, 255);
$color-borde-ul: rgb(151, 167, 196);
$color-titulo: rgb(246, 249, 255);

$color-fondo-articulo:rgb(225, 227, 228);

// textos
$color-blanco-perla: rgb(250, 250, 250);
