
// botones eliminar
$color-rojo: rgb(255, 104, 104);
$color-rojo-oscuro: rgb(248, 70, 70);

// botón añadir

$color-marron: #504b46;
$color-marron-oscuro:#2c2926;

// botón comprar
$color-verde: rgb(86, 143, 105);
$color-verde-oscuro: rgb(58, 99, 72);



// textos
$color-blanco-perla: rgb(250, 250, 250);
