#ul_productos_stock {
  display: flex;
  flex-flow: column;
  border: 1px solid red;

  li {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-around;
    border: 1px solid green;

    h1 {
      width: 20em;
      font-size: 15px;
    }

    p {
      margin: 0em 2em 0em 3em;
      width: 10em;
    }

    input {
      width: 4em;
    }

    button {
      margin: 0em 2em 0em 3em;
    }

    div {
      display: flex;
      border: 1px solid rgb(216, 255, 74);
    }
  }
}
